#sb_payments span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_payments span::after {
    content: "Thanh Toán Nè";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_opportunities span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_opportunities span::after {
    content: "Quy Trình Bán Hàng";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_contacts span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_contacts span::after {
    content: "Liên Hệ";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_conversations span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_conversations span::after {
    content: "Hội Thoại";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_settings span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_settings span::after {
    content: "Cài Đặt";
    line-height: initial;
    display: block;
    text-indent: 0
}