#sb_payments span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_payments span::after {
    content: "Cổng Thanh Toán";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_opportunities span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_opportunities span::after {
    content: "Quy Trình Bán Hàng";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_contacts span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_contacts span::after {
    content: "Liên Hệ";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_conversations span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_conversations span::after {
    content: "Hội Thoại";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* // */
#sb_settings span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_settings span::after {
    content: "Cài Đặt";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_calendars */
#sb_calendars span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_calendars span::after {
    content: "Lịch Hẹn";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_dashboard */
#sb_dashboard span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_dashboard span::after {
    content: "Bảng Điều Khiển";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_memberships */
#sb_memberships span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_memberships span::after {
    content: "Khoá Học/ Cộng Đồng";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_sites */
#sb_sites span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_sites span::after {
    content: "Website/ Phễu";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_reputation */
#sb_reputation span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_reputation span::after {
    content: "Kho Feedback";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_reporting */
#sb_reporting span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_reporting span::after {
    content: "Báo Cáo";
    line-height: initial;
    display: block;
    text-indent: 0
}

/* sb_launchpad
#sb_launchpad span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_launchpad span::after {
    content: "Hoàn Thiện";
    line-height: initial;
    display: block;
    text-indent: 0
} */
#sb_launchpad {
    display: none !important;
}

/* sb_app-media */
#sb_app-media span {
    text-indent: -999999999px;
    line-height: 0;
}

#sb_app-media span::after {
    content: "Thư Viện Ảnh/ Video";
    line-height: initial;
    display: block;
    text-indent: 0
}

#hl_header--help-icon {
    display: none !important;
}

.hl_login--header .container-fluid a {
    display: none !important;
}